.reg_container {
    height: 100%;
    width: 100%;
    background-image: url('./images/reg-bg.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .reg{
        height: 572px;
        width: 516px;
        background-image: url('./images/reg-form.png');
        background-size: 100% 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        input#userName, input#firstPwd,
        input#email, input#phone, input#nickName {
            background-color: rgba(0,0,0,0) !important;
            color:#00A4DD !important;
        }
        ::-webkit-input-placeholder { /* WebKit browsers */
            color:#00A4DD;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:#00A4DD;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:#00A4DD;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color:#00A4DD;
        }

    }
    .login_link {
        color: #00A4DD;
        width: 100%;
        margin-top: 20px;
    }
    .login_link:hover {
        cursor: pointer;

    }
}