.imgInfoCon{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('http://192.168.28.128/pub/assets/tc-bg.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: center;
    background-color: #dddddd;
}
