@import '~antd/dist/antd.less';
//这里定义了表格样式，左侧留200给左边的菜单栏。
.main-page {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    overflow: auto;
  }
 //这里是定义的内边距
 //tr > th 是表头的样式
 //tr > td 是表格内容的样式
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 12px 5px;
  }