.login_container {
    height: 100%;
    width: 100%;
    background-image: url('./images/01682d57b3bf630000018c1bb4f7c3.png');
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .login{
        height: 468px;
        width: 552px;
        background-image: url('./images/login-form.png');
        background-size: 100% 100%;
        position: relative;
        margin-right: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        input#user, input#pwd {
            background-color: rgba(0,0,0,0) !important;
            color:#00A4DD !important;
        }
        ::-webkit-input-placeholder { /* WebKit browsers */
            color:#00A4DD;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:#00A4DD;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:#00A4DD;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color:#00A4DD;
        }

    }
    .reg_link {
        color: #00A4DD;
        width: 100%;
        margin-top: 20px;
    }
    .reg_link:hover {
        cursor: pointer;

    }
}