//菜单栏样式
.navMenu {
    width: 200px;
    background-color: #001529;
    position: absolute;
    left:0;
    top: 0;
    bottom:0;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);

}
//链接样式
.navMenu a {
    color: inherit;
    //链接样式设置为块级元素
    display: inline-block;
}
//用户名样式
.userInfo {
    width: 100%;
    //用户名白色
    color: #fff;
    padding: 20px 20px 10px;
    display: flex;
    img {
        width: 50px;
        float: left;
        margin-right: 10px;;
    }
}
//用户名字体样式
.username {
    //字体大小
    //字体粗细
    //行高
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
}
.role {
    font-size: 12px;
    color: #aaa;
    border: 1px solid #aaa;
    display: inline-block;
    padding: 0 3px;
    border-radius: 2px;
}
